<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Minha Base MVC{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/base.css">
</head>
<body>
    <main>
        {% block content %}
        <!-- O conteúdo da página será inserido aqui -->
        {% endblock %}
    </main>
</body>
</html>
